<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta name="theme-color" content="#000000">
        <meta name="description" content="This is a Novo Market rates pry, based on Free Code Camp Project called Recipe Box">
        <meta name="keywords" content="HTML, CSS, JAVASCRIPT, REACTJS">
        <meta name="author" content="ChocolateeCurls">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet">
        <title>Novo Market rates</title>
        <p>Autor: @ChocolateeCurls</p>
        <link href="/recipe-box/static/css/main.27673ca1.css" rel="stylesheet">
    </head>
    <body>
        <div class="container" id="root"></div>
        <script type="text/javascript" src="/recipe-box/static/js/main.e49d6c0d.js"></script>
    </body>
    </html>